# Create UniversityDB

In [ ]:
CREATE DATABASE UniversityDB;
GO;
USE UniversityDB;

## Professoren

In [4]:
CREATE TABLE Professoren (
    Hoehrsaal INT NOT NULL,
    Vorname VARCHAR(30) NOT NULL,
    Nachname VARCHAR(30) NOT NULL,
    Geburtsdatum DATE,
    CONSTRAINT pk_Professoren PRIMARY KEY (Hoehrsaal)
)

## Vorlesungen

In [5]:
CREATE TABLE Vorlesungen (
    VorlesungsID INT IDENTITY(1,1)NOT NULL,
    Professor INT NOT NULL,
    Titel VARCHAR(50) NOT NULL,
    CONSTRAINT pk_Vorlesungen PRIMARY KEY (VorlesungsID),
    CONSTRAINT fk_VorlesungenProfessoren FOREIGN KEY (Professor) REFERENCES Professoren(Hoehrsaal)
)

## VorlesungenBeruhenAuf

In [6]:
CREATE TABLE VorlesungenBeruhenAuf (
    Vorlesung INT,
    BeruhtAuf INT,
    CONSTRAINT fk_VorlesungenBeruhenAufVorlesung FOREIGN KEY (Vorlesung) REFERENCES Vorlesungen(VorlesungsID),
    CONSTRAINT fk_VorlesungenBeruhenAufBeruhtAuf FOREIGN KEY (BeruhtAuf) REFERENCES Vorlesungen(VorlesungsID)
)

## Assistenten

In [7]:
CREATE TABLE Assistenten (
    AssistentenID INT IDENTITY(1,1) NOT NULL,
    Vorname VARCHAR(30) NOT NULL,
    Nachname VARCHAR(30) NOT NULL,
    Assistiert INT,
    CONSTRAINT pk_Assistenten PRIMARY KEY (AssistentenID),
    CONSTRAINT fk_AssistentenProfessoren FOREIGN KEY (Assistiert) REFERENCES Professoren(Hoehrsaal)
)