# Create UniversityDB

## Professoren

In [1]:
CREATE TABLE Professoren (
    Hoehrsaal INT NOT NULL,
    Vorname VARCHAR(30) NOT NULL,
    Nachname VARCHAR(30) NOT NULL,
    Geburtsdatum DATE,
    CONSTRAINT pk_Professoren PRIMARY KEY (Hoehrsaal)
)

## Vorlesungen

In [2]:
CREATE TABLE Vorlesungen (
    VorlesungsID INT IDENTITY(1,1)NOT NULL,
    Professor INT NOT NULL,
    Titel VARCHAR(50) NOT NULL,
    CONSTRAINT pk_Vorlesungen PRIMARY KEY (VorlesungsID),
    CONSTRAINT fk_VorlesungenProfessoren FOREIGN KEY (Professor) REFERENCES Professoren(Hoehrsaal)
)

## VorlesungenBeruhenAuf

In [3]:
CREATE TABLE VorlesungenBeruhenAuf (
    Vorlesung INT,
    BeruhtAuf INT,
    CONSTRAINT fk_VorlesungenBeruhenAufVorlesung FOREIGN KEY (Vorlesung) REFERENCES Vorlesungen(VorlesungsID),
    CONSTRAINT fk_VorlesungenBeruhenAufBeruhtAuf FOREIGN KEY (BeruhtAuf) REFERENCES Vorlesungen(VorlesungsID)
)

## Assistenten

In [4]:
CREATE TABLE Assistenten (
    AssistentenID INT IDENTITY(1,1) NOT NULL,
    Vorname VARCHAR(30) NOT NULL,
    Nachname VARCHAR(30) NOT NULL,
    Assistiert INT,
    CONSTRAINT pk_Assistenten PRIMARY KEY (AssistentenID),
    CONSTRAINT fk_AssistentenProfessoren FOREIGN KEY (Assistiert) REFERENCES Professoren(Hoehrsaal)
)

## Pr√ºfungen

In [5]:
CREATE TABLE Pruefungen (
    PruefungsID INT NOT NULL,
    Termin DATE NOT NULL,
    Aufsicht INT,
    CONSTRAINT pk_Pruefungen PRIMARY KEY (PruefungsID),
    CONSTRAINT fk_PruefungenProfessoren FOREIGN KEY (Aufsicht) REFERENCES Professoren(Hoehrsaal)
)

## Studenten

In [6]:
CREATE TABLE Studenten (
    Matrikelnummer INT NOT NULL,
    Vorname VARCHAR(30) NOT NULL,
    Nachname VARCHAR(30) NOT NULL,
    Studienbeginn DATE NOT NULL,
    CONSTRAINT pk_Studenten PRIMARY KEY(Matrikelnummer)
)

## StudentenZuVorlesung

In [1]:
CREATE TABLE StudentenZuVorlesung (
    Student INT NOT NULL,
    Vorlesung INT NOT NULL,
    CONSTRAINT fk_StudentenZuVorlesungStudenten FOREIGN KEY(Student) REFERENCES Studenten(Matrikelnummer),
    CONSTRAINT fk_StudentenZuVorlesungVorlesung FOREIGN KEY(Vorlesung) REFERENCES Vorlesungen(VorlesungsID)
)