# Insert Uinversity Data

## Professoren

In [5]:
INSERT INTO Professoren (Vorname, Nachname, Hoehrsaal, Geburtsdatum) VALUES
('Albert', 'Einstein', 14, '1879-03-14'),
('Marie', 'Curie', 12, '1867-11-07'),
('Peter', 'Von Matt', 8, '1937-05-20'),
('Nikola', 'Tesla', 13, '1856-07-10'),
('Wilhelm Conrad', 'Röntgen', 10, '1845-03-27'),
('Jean-Paul', 'Sartre', 1, '1905-06-21'),
('Jacobus', 'van ''t Hoff', 3, '1852-08-30');

## Vorlesungen

In [6]:
INSERT INTO Vorlesungen (Titel, Professor) VALUES
('Ethik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Elektrotechnik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Nikola')),
('Sprachtheorie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Radiologie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Wilhelm Conrad')),
('Allgemeine Relativitätstheorie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Quantenphysik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Kinetik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Jacobus')),
('Literaturgeschichte', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Astrophysik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Biochemie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Jacobus')),
('Physikalische Chemie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Marie'));

## Assistenten

In [7]:
INSERT INTO Assistenten(Vorname, Nachname, Assistiert) VALUES
('Lionel', 'Messi', NULL),
('Xherdan', 'Shaqiri', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Nikola')),
('Sami', 'Khedira', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Cristiano', 'Ronaldo', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Wayne', 'Rooney', NULL),
('Arjen', 'Robben', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Jacobus')),
('Andrea', 'Pirlo', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Robert', 'Lewandowski', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Luis', 'Suàrez', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Wilhelm Conrad')),
('Alexis', 'Sanchez', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Marie'));