# Insert Uinversity Data

## Professoren

In [ ]:
INSERT INTO Professoren (Vorname, Nachname, Hoehrsaal, Geburtsdatum) VALUES
('Albert', 'Einstein', 14, '1879-03-14'),
('Marie', 'Curie', 12, '1867-11-07'),
('Peter', 'Von Matt', 8, '1937-05-20'),
('Nikola', 'Tesla', 13, '1856-07-10'),
('Wilhelm Conrad', 'Röntgen', 10, '1845-03-27'),
('Jean-Paul', 'Sartre', 1, '1905-06-21'),
('Jacobus', 'van ''t Hoff', 3, '1852-08-30');

## Vorlesungen

In [ ]:
INSERT INTO Vorlesungen (Titel, Professor) VALUES
('Ethik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Elektrotechnik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Nikola')),
('Sprachtheorie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Radiologie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Wilhelm Conrad')),
('Allgemeine Relativitätstheorie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Quantenphysik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Kinetik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Jacobus')),
('Literaturgeschichte', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Astrophysik', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Biochemie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Jacobus')),
('Physikalische Chemie', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Marie'));

## Assistenten

In [ ]:
INSERT INTO Assistenten(Vorname, Nachname, Assistiert) VALUES
('Lionel', 'Messi', NULL),
('Xherdan', 'Shaqiri', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Nikola')),
('Sami', 'Khedira', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Cristiano', 'Ronaldo', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Wayne', 'Rooney', NULL),
('Arjen', 'Robben', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Jacobus')),
('Andrea', 'Pirlo', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Albert')),
('Robert', 'Lewandowski', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Peter')),
('Luis', 'Suàrez', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Wilhelm Conrad')),
('Alexis', 'Sanchez', (SELECT Hoehrsaal FROM Professoren WHERE Vorname = 'Marie'));

## Studenten

In [ ]:
INSERT INTO Studenten(Matrikelnummer, Vorname, Nachname, Studienbeginn) VALUES
('09-4845-0', 'Eliane', 'Burri', '2019-10-01'),
('12-5776-4', 'Guido', 'Duss', '2019-10-01'),
('09-7270-8', 'Gertrud', 'Zollinger', '2019-10-01'),
('08-5694-8', 'Giorgio', 'Antonelli', '2018-10-01'),
('13-3963-7', 'Miguel', 'Sanchez', '2019-10-01'),
('09-6537-7', 'Zoran', 'Stefanovski', '2019-10-01'),
('10-4336-3', 'Luis', 'Prieto', '2019-10-01'),
('13-4372-1', 'Martin', 'Isler', '2019-10-01'),
('09-1079-4', 'Paolo', 'Di Lavello', '2019-10-01'),
('10-5068-5', 'Rolf', 'Meier', '2019-10-01'),
('09-9370-0', 'Marco', 'Maggi', '2019-10-01'),
('09-0523-5', 'Heike', 'Kurmann', '2019-10-01'),
('09-9376-6', 'Lelzim', 'Krasniqi', '2019-10-01'),
('14-0556-8', 'Jean-Paul', 'Léchenne', '2019-10-01'),
('09-0665-1', 'Roger', 'Détraz', '2017-10-01'),
('11-8456-6', 'Hans', 'Dubach', '2018-10-01'),
('10-3201-8', 'Yvonne', 'Keller', '2019-10-01'),
('12-0948-3', 'Priska', 'Weber', '2019-10-01'),
('13-3225-2', 'Heidi', 'Dubuis', '2019-10-01'),
('13-5660-2', 'Slobodan', 'Stojanovic', '2019-10-01'),
('07-0633-6', 'Bruno', 'Zobrist', '2018-10-01'),
('10-1471-6', 'Slobodanka', 'Babaja', '2019-10-01'),
('10-2466-6', 'Roger', 'Gugler', '2018-10-01'),
('13-3704-2', 'Marian', 'Genkinger', '2019-10-01'),
('12-8867-9', 'Michele', 'Dell''Amore', '2019-10-01')

## Prüfungen